[test]
HashTable.LinearProberFailureCheck = 1
HashTable.DoubleHashProberSequenceCheck = 1
HashTable.DoubleHashProberFailureCheck = 1
HashTable.Constructor = 1
HashTable.Insert = 1
HashTable.InsertDuplicate = 1
HashTable.InsertCollision = 1
HashTable.InsertResize = 1
HashTable.InsertResizeFactor = 1
HashTable.Find = 1
HashTable.FindCollisions = 1
HashTable.Remove = 2
HashTable.RemoveNothing = 1
HashTable.RemoveCollisions = 1
HashTable.TestSize = 1
HashTable.TestEmpty = 1
HashTable.LogicErrorTest = 1
HashTable.InsertDoubleHashProbeCollision = 2
HashTable.InsertStressTestResizeOneLoadFactor = 2
HashTable.InsertStressTestResizeNotOneLoadFactor = 2
HashTable.StressInsertRemoveResizeLinear = 1
